@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  margin: 0;
}

body, h1, p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} 

.container {
  width: 1140px;
  margin: 0 auto;
}


.background {
  background-color: #EAE5FF;
  height: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 400;
}
header a {
  color:#A46CFF;
  padding: 10px;
  text-decoration: none;
  font-size: 25px; 
  border-radius: 4px;
  
}
header{
display: flex;
  align-items: center;
  justify-content: space-between;  
}

#cover {
  height: 763px;
  display: flex;
  align-items: center;
  color: white;
}
.cover-content-container{
  width: 1140px;
  margin: 0 auto;
}

.cover-content h1 {
  font-size: 64px;
  font-weight: 500;
  
}

.cover-content h2 {
  font-size: 48px;
  font-weight: 400;
}

.cover-content button {
  width: 584px;
  height: 79px;
background-color: #A46CFF;
border: 0;
border-radius: 37,5px;
font-size: 40px;
color: white;
}
button:hover{
  background: 0;
}
nav{
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.background{
  background-color: white;
}
.cover-logo{
  height: 754px;
}
.about-us-content{
  display: flex;
  align-items: center;
}

.cover-content-container{
text-align: left;
}
#about-us{
  height: 600px;
  margin: 65px 0 0 65px;
}

.about-us-text{
color: #FA75AD;
text-align: left;

}
.about-us-photo{
  padding: auto;
  margin: 65px 40px 65px 0px;
  border-radius: 18px;
  border-style: solid;
  border-color: #fa75ad;
  border-width: 4px;
  width: 483px;
  height: 322px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
h3{
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
}
.container about-us-content{
  margin-bottom: 20px;
}
.card{
  width: 1140px;
  margin: 0 auto;
background-image: url(img/girl.png);
}
.card-header{
  display: flex;
  width: 530px;
  height: 558px;
  flex-direction: column ;
  text-align: left;
  margin: 30px;
}
.card-title{
margin-top: 20px;

}
.card-price{
  margin-bottom: 86px;
  margin-bottom: 10px;
}
.card-subtitle{
margin-top: 5px;
}
.card-text{
  margin-top: 60px;
}
.card-btn{
  font-size: 18px;
  margin-top: 50px;
  background-color: #E0FB52 ;
  border-radius: 10px;
    color: rgb(9, 9, 9);
    border: 0;
    width: 255px;
    height: 60px;
  
}
.card-btn:hover{
  box-shadow: 0 0 0 2px #E0FB52, 0 0 0 4px #E0FB52;
}
#form{
  height: 626px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.input{
  padding-left: 20px;
  margin: 20px;
}