@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  margin: 0;
}

body, h1, p, h2,h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} 

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 400;
}
header a {
  color:#A46CFF;
  padding: 30px;
  text-decoration: none;
  font-size: 25px; 
  
  
}
header{
display: flex;
  align-items: center;
  justify-content: space-between;  
}

#cover {
  width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
 text-align: center;
 background-image: url(img/cover-background.png);
background-size: cover;
width: 1742px;
height: 737px;
color: white;
}

#cover h1 {
  font-size: 64px;
  font-weight: 500px;
  text-align: left;
  margin-top: 190px;
 padding-left: 250px;
margin-bottom: 20px;
}

#cover p {
  font-size: 48px;
  width: 766px;
  font-weight: 400px;
  text-align: left;
  padding-left: 250px;
}

.cover-btn {
  width: 584px;
  height: 79px;
  margin-top: 30px;
  margin-left: 100px;
background-color: #A46CFF;
border: 0;
border-radius: 37,5px;
font-size: 40px;
color: white;

}
button:hover{
  background: 0;
}
nav{
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.background{
  background-color: white;
}

.about-us-content{
  display: flex;
  align-items: center;
}

#about-us{
  height: 600px;
  width: 1140px;
  margin: 0 auto;
}

.about-us-text{
color: #FA75AD;
text-align: left;

}
.about-us-photo{
  padding: auto;
  margin: 65px 40px 65px 40px;
  border-radius: 18px;
  border-style: solid;
  border-color: #fa75ad;
  border-width: 4px;
  width: 483px;
  height: 322px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
h3{
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
}

.program-course{
  background-image: url(img/program_course.png);
  background-size: cover;
  margin: 0 auto;
  width: 1280px;
  height: 786px;
  align-items: center;
}
.program-course h2{
  font-size: 48px;
  padding: 61px 800px 61px 61px;
  
}
.program-text p{
  font-size: 22px;
  align-content: center;
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
padding: 22px;
 background-color: white;
 width: 556px;
 height: 30px ;
}
.cards{
  width: 1140px;
  margin: 0 auto;
align-content: center;
}
.catalog{
  background-color: #FA75AD;
 background-size: cover;
 margin: 200px;
 height: 1300px;
}
.card-base{
  width: 1140px;
  margin: 0 auto;
background-image: url(img/girl.png);
height: 558px;
background-size: cover;
}
.card-header{
  display: flex;
  width: 530px;
  height: 570px;
  flex-direction: column ;
  text-align: left;
  margin: 30px;
}
.card-title{
  font-size: 48px;
}
.card-price{
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.card-subtitle{
  font-size: 16px;
margin-top: 5px;
}
.card-text {
  font-size: 16px;
  margin-top: 25px;
}
.card-btn{
  font-size: 18px;
  margin-top: 30px;
  background-color: #E0FB52 ;
  border-radius: 10px;
    color: rgb(9, 9, 9);
    border: 0;
    width: 255px;
    height: 50px;
}
.card-btn:hover{
  box-shadow: 0 0 0 2px #E0FB52, 0 0 0 4px #E0FB52;
}
.card-ux{
  margin-top: 20px;
  width: 547px;
  background-color: white;
   border-radius: 10px;
  
}
.card-group{
  width: 1140px;
   border-radius: 15px;
   display: flex;
   justify-content: space-between;
}

.card-subject{
  font-size: 32px;
  margin-bottom: 5px;
}
.card-subject h2{
  height: 87px;
  font-size: 40px;
  margin: 30px;
}
.card-subject p{
  font-size: 16px;
  margin: 30px;
  margin-top: 30px;
}
.card-sale{
  font-size: 32px;
 margin: 30px;
  display: flex;
}
.card-sale p {
  background-color: #E0FB52;
  width: 60px;
  height: 30px;
  font-size: 16px;
  padding: 5;
  text-align: center;
 
}
.card-desc{
  font-size: 24px;
  width: 250px;
  margin: 20px;
}
.meta{
  background-color: #C7A5FF;
  height: 933px;
  width: 1352px;
 
}
.meta-container{
  width: 1140px;
  margin: 0 auto;
}

.meta h3{
  color: white;
  font-size: 48px;
  text-align: center;
}
.portfolio{
  width:1146px ;
  height: 741px;
  align-content: center;
}
.form-container{
  width: 1140px;
  margin: 0 auto;
}
.form{
  background-image: url(img/form-content.png);
  background-size: cover;
  width: 1140px;
  height: 527px;
 align-content: center;
align-items: center;
  
}
.form h3{
  align-items: center;
  /* padding: 20px; */
  /* margin-top: 100px;
  margin-bottom: 100px; */
  width: 969px;
}
.form p{
  font-size: 20px;
 /* margin: 30px; */
 padding: 20px;
  width: 264px;
}
.form button{
  background-color: #FFD705;
  width: 325px;
  height: 66px;
  margin-left: 60px;
  border: 0;
  font-size: 16px;
}